.container{
        display: flex;
}



body{
    background-color: darkseagreen;
}


.card-body{
    background-color: coral;
    
}

.card{
    float: left
        .padin
}






