body{
    background-color: mistyrose;
}




.card{ 
 margin: 25px;
    float: left;
}

.container{
    margin-top: 50px;
    border: 10px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.card{ 

margin-top: 60px;
    
    

}
.card{
    
    margin-left: 60px;
}



































