.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 10px; /* Bordes redondeados para un estilo más profesional */
    overflow: hidden; /* Asegura que el contenido de la card no se desborde */
}

.card-hover:hover {
    transform: translateY(-10px); /* Movimiento hacia arriba al pasar el cursor */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Ajustes adicionales para tamaños pequeños */
.card {
    max-width: 11rem; /* Ajusta el tamaño máximo de la card */
    margin: auto;     /* Centra la card */
}














        /* Botón con borde morado */
        .btn-bordered.btn-purple {
            border: 2px solid #6f42c1; /* Borde morado */
            color: #6f42c1; /* Texto morado */
        }
        .btn-bordered.btn-purple:hover {
            background-color: #6f42c1; /* Fondo morado al pasar el cursor */
            color: #fff; /* Texto blanco */
        }  
    












