.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 10px; 
    overflow: hidden; 
}

.card-hover:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); 
}


.card {
    max-width: 11rem; 
    margin: auto;     
}





















       
        .btn-bordered.btn-purple {
            border: 2px solid #6f42c1; 
            color: #6f42c1; 
        }
        .btn-bordered.btn-purple:hover {
            background-color: #6f42c1; 
            color: #fff; 
        }  
    